Django>=4.2
pypdf>=6.0
sentence-transformers>=2.0
chromadb>=1.0
requests>=2.32
scikit-learn>=1.0
numpy>=1.24
transformers>=4.0
torch>=2.0
djangorestframework>=3.14
djangorestframework-simplejwt>=5.3
django-jazzmin>=3.0
